@import "../../styles/mixins";
@import "../../styles/variables";

//-----mobile-first

@media (max-width: 992px) {
  .main_info_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 32px 16px 0;
  }

  .title_info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .webinar {
    @include flexCenter();
    background-color: $webinarBG;
    color: $textColor;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    width: 89px;
    height: 23.93px;
    img {
      margin-right: 5px;
      width: 12px;
      height: 12px;
    }
  }

  h1 {
    @include fontWeightSizeHeight($weight: 800, $size: 52px, $height: 65px);
    margin: 0;
    text-align: center;
    text-transform: uppercase;

    color: $allRedColor;
  }
  .sub_title {
    @include flexBetweenCenter();
    height: 32px;
    gap: 20px;
    p:last-child {
      color: $textColor;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      position: relative;
    }
  }
  .from_scratch {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    @include fontWeightSizeHeight($weight: 800, $size: 16px, $height: 20px);
    color: $textColor;
  }
  .back_border {
    position: absolute;
    top: -1px;
    left: -7px;
    transform: matrix(1, -0.06, 0.06, 1, 0, 0);
    z-index: -1;
    background-color: $allRedColor;
    height: 27.5px;
    width: 76px;
    border-radius: 3.5px;
  }

  .sub_info {
    @include flexCenter();
    @include fontWeightSizeHeight($weight: 400, $size: 14px, $height: 21px);

    text-align: center;
    p {
      text-align: center;
      color: $textColor;
      span {
        color: $highlightTextColor;
      }
    }
  }
}

//------desktop

@media (min-width: 993px) {
  .main_info_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 115px 0 0 256px;
    width: 427px;
  }

  .title_info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .webinar {
    @include flexCenter();
    background-color: $webinarBG;
    color: $textColor;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    padding: 4px 13px;
    width: 119px;
    height: 32px;
    img {
      margin-right: 7px;
      width: 17px;
      height: 17px;
    }
  }

  h1 {
    @include fontWeightSizeHeight($weight: 800, $size: 71px, $height: 94px);
    color: $allRedColor;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
  .sub_title {
    @include flexBetweenCenter();
    margin-left: 5px;
    height: 32px;
    gap: 30px;
    p:last-child {
      color: $textColor;
      @include fontWeightSizeHeight($weight: 600, $size: 22px, $height: 26px);
      position: relative;
    }
  }
  .from_scratch {
    @include fontWeightSizeHeight($weight: 800, $size: 17px, $height: 29px);
    color: $textColor;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
  }
  .back_border {
    position: absolute;
    top: 0px;
    left: -9px;
    transform: matrix(1, -0.06, 0.06, 1, 0, 0);
    z-index: -1;
    background-color: $allRedColor;
    height: 30px;
    width: 82px;
    border-radius: 3.5px;
  }

  .sub_info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    p {
      @include fontWeightSizeHeight($weight: 400, $size: 18px, $height: 27px);
      color: $textColor;
      text-align: left;
      span {
        color: $textColor;
        .salary {
          background-color: $webinarBG;
          border-radius: 3px;
          padding: 1px 6px;
        }
      }
    }
  }
}
