@import "../../styles/mixins";
@import "../../styles/variables";

// -------mobile

@media (max-width: 992px) {
  .form {
    width: 288px;
    margin: 20px auto 0;
    padding: 40px 21px;
    border-radius: 9px;
    background: #303a53;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    h2 {
      text-align: center;
      @include fontWeightSizeHeight($weight: 700, $size: 20px, $height: 23px);
      color: $textColor;
      .free {
        color: $allRedColor;
      }
    }
  }

  .form-group {
    position: relative;
    height: 46px;
    width: 286px;
    border-radius: 4.5px;

    .error {
      position: absolute;
      top: 20%;
      right: 5%;
      padding: 4px;
      border: 1px solid $allRedColor;
      border-radius: 5px;
      color: $allRedColor;
    }
  }

  input[type="text"],
  input[type="tel"] {
    padding-left: 26px;

    @include fontWeightSizeHeight($weight: 400, $size: 12px, $height: 22px);
    color: $textColor;
  }

  input {
    height: 46px;
    width: 260px;
    border: none;
    border-radius: 5px;
    background: rgba(39, 45, 61, 1);
    &:hover {
      border: #0048ff solid 1px;
    }
    &::placeholder {
      color: $textColor;
    }
  }
  .submit_button {
    cursor: pointer;
    @include fontWeightSizeHeight($weight: 700, $size: 14px, $height: 22px);
    height: 45px;
    width: 222px;
    color: $textColor;
    border: none;
    border-radius: 5px;
    background: #0048ff;
  }
  .confidentiality {
    text-align: center;
    @include fontWeightSizeHeight($weight: 500, $size: 11px, $height: 16px);
    color: rgba(255, 255, 255, 0.5);
    .underline {
      text-decoration: underline;
    }
  }
}

// -------desktop

@media (min-width: 993px) {
  .form {
    width: 288px;
    position: relative;
    z-index: 3;
    margin: 20px auto 0;
    padding: 50px 60px;
    border-radius: 10px;
    background: #303a53;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    h2 {
      text-align: center;
      @include fontWeightSizeHeight($weight: 700, $size: 22px, $height: 26px);
      color: $textColor;
      .free {
        color: $allRedColor;
      }
    }
  }

  .form-group {
    position: relative;
    height: 51px;
    width: 286px;
    border-radius: 4.5px;

    .error {
      position: absolute;
      top: 20%;
      right: 5%;
      padding: 4px;
      border: 1px solid $allRedColor;
      border-radius: 5px;
      color: $allRedColor;
    }
  }

  input[type="text"],
  input[type="tel"] {
    padding-left: 22px;
    @include fontWeightSizeHeight($weight: 400, $size: 13px, $height: 24px);
    color: $textColor;
  }

  input {
    height: 46px;
    width: 260px;
    border: none;
    border-radius: 5px;
    background: rgba(39, 45, 61, 1);
    &:hover {
      border: #0048ff solid 1px;
    }
    &::placeholder {
      color: $textColor;
    }
  }
  .submit_button {
    cursor: pointer;
    @include fontWeightSizeHeight($weight: 700, $size: 14px, $height: 22px);
    height: 51px;
    width: 286px;
    color: $textColor;
    border: none;
    border-radius: 5px;
    background: $allRedColor;
  }
  .confidentiality {
    text-align: center;
    @include fontWeightSizeHeight($weight: 500, $size: 12px, $height: 18px);
    color: rgba(255, 255, 255, 0.5);
    .underline {
      text-decoration: underline;
    }
  }
}
