@import "../../styles/mixins";

.desktop_main {
  position: relative;
  margin-top: 116px;
  height: 665px;
  display: flex;
  justify-content: center;
  gap: 120px;

  .main_info_container {
    margin: 0;
  }

  .additiona_info {
    padding: 0;
  }

  .form {
    margin: 0;
  }

  .front_end_developer {
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    animation-name: moveText;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .absolute_logo {
    position: absolute;
    z-index: 1;
    &:hover img {
      animation: vibration 0.3s infinite linear;
    }
    &:hover .little_ellipse {
      animation: rotateCircle 5s infinite linear;
    }
    .little_ellipse {
      right: 5px;
      top: -5px;
      background: #2965f1;
    }
  }

  .little_ellipse {
    border-radius: 50%;
    position: absolute;
    width: 6px;
    height: 6px;
  }

  .html_logo {
    left: 1360px;
    top: 28px;
    .little_ellipse {
      width: 8px;
      height: 8px;
      right: 0px;
      top: 10px;
      background: #f16529;
    }
  }
  .css_logo {
    left: 1270px;
    top: 145px;

    &:hover img {
      animation: vibration 0.3s infinite linear;
    }
    &:hover .little_ellipse {
      animation: rotateCircle 5s infinite linear;
    }
    .little_ellipse {
      right: 5px;
      top: -5px;
      background: #2965f1;
    }
  }

  @keyframes vibration {
    0% {
      transform: translateX(-2px) rotateZ(-1deg);
    }
    50% {
      transform: translateX(2px) rotateZ(1deg);
    }
    100% {
      transform: translateX(-2px) rotateZ(-1deg);
    }
  }

  @keyframes rotateCircle {
    0%,
    100% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(-110px) translateY(0px);
    }
    50% {
      transform: translateX(-60px) translateY(120px);
    }
    75% {
      transform: translateX(20px) translateY(110px);
    }
  }

  .js_logo {
    left: 1385px;
    top: 230px;
    .little_ellipse {
      width: 8px;
      height: 8px;
      top: 16px;
      right: -10px;
      background: #f0be25;
    }
  }
  .st_logo {
    left: 1270px;
    top: 300px;
    .little_ellipse {
      right: -3px;
      top: -10px;
      background: #ff9800;
    }
  }
  .vs_code_logo {
    left: 1360px;
    top: 375px;
    .little_ellipse {
      bottom: 8px;
      right: -10px;
      background: #48aef3;
    }
  }
}

.mobile_main {
  position: relative;
  overflow: hidden;

  .big_ellipse_mobile {
    @include mainBGEllipses($blur: 250px);
    width: 912px;
    height: 912px;
    left: -151px;
    top: 430px;
  }

  .small_ellipse_mobile {
    @include mainBGEllipses($blur: 250px);
    width: 180px;
    height: 180px;
    left: -90px;
    top: 324px;
  }
}
