@import "../../styles/mixins";

.desktop_main {
  position: relative;
  margin-top: 116px;
  height: 665px;
  display: flex;
  justify-content: center;
  gap: 120px;

  .main_info_container {
    margin: 0;
  }

  .additiona_info {
    padding: 0;
  }

  .form {
    margin: 0;
  }

  .front_end_developer {
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    animation-name: moveText;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.mobile_main {
  position: relative;
  overflow: hidden;

  .big_ellipse_mobile {
    @include mainBGEllipses($blur: 250px);
    width: 912px;
    height: 912px;
    left: -151px;
    top: 430px;
  }

  .small_ellipse_mobile {
    @include mainBGEllipses($blur: 250px);
    width: 180px;
    height: 180px;
    left: -90px;
    top: 324px;
  }
}
