@import "../../styles/mixins";
@import "../../styles/variables";

//------mobile

@media (max-width: 992px) {
  .additiona_info {
    margin: 20px auto 40px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 22px;
  }
  .additional_card {
    width: 224px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    h3 {
      margin: 0;
      color: $textColor;
      @include fontWeightSizeHeight($weight: 700, $size: 14px, $height: 21px);
    }
  }

  .text_box {
    .desktop_text {
      display: none;
      width: 206px;
    }
    p {
      @include fontWeightSizeHeight($weight: 400, $size: 12px, $height: 18px);
      color: $textColor;
      width: 162px;
      margin-top: 3px;
    }
  }

  .bonus {
    line-height: 21px;
  }

  .man_name {
    line-height: 17px;
    text-transform: uppercase;
    span {
      color: $highlightTextColor;
    }
  }
}
//------desktop

@media (min-width: 993px) {
  .additiona_info {
    margin: 20px auto 40px;
    padding: 0 60px;
    display: flex;
    flex-direction: column-reverse;
    gap: 22px;
  }
  .additional_card {
    width: 224px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    img {
      height: 62px;
      width: 56px;
    }
    h3 {
      margin: 0;
      color: $textColor;
      @include fontWeightSizeHeight($weight: 700, $size: 13px, $height: 17px);
    }
  }

  .text_box {
    .mobile_text {
      display: none;
    }
    .desktop_text {
      display: inline-block;
      width: 206px;
    }
    p {
      @include fontWeightSizeHeight($weight: 400, $size: 12px, $height: 19px);
      color: $textColor;
      width: 307px;
      margin-top: 3px;
    }
  }

  .bonus {
    line-height: 18px;
  }

  .man_name {
    line-height: 17px;
    text-transform: uppercase;
    span {
      color: $highlightTextColor;
    }
  }
}
