$textColor: white;

$headerCardBG: rgba(48, 46, 90, 1);

$highlightTextColor: rgba(66, 82, 209, 1);

$allRedColor: #ff3459;

$webinarBG: #4252d1;

$mainEllipsBG: #332f65;

$htmlBGColor: rgba(36, 39, 49, 1);
