@import "../../styles/variables";
@import "../../styles/mixins";

html {
  background-color: $htmlBGColor;
}

.app {
  position: relative;
  overflow: hidden;
}

@media (max-width: 992px) {
  .big_ellipse,
  .small_ellipse {
    display: none;
  }
}

@media (min-width: 992px) {
  .big_ellipse {
    @include mainBGEllipses();
    width: 790px;
    height: 793px;
    left: 1080px;
    bottom: 343px;
    opacity: 0.8;
  }

  .small_ellipse {
    @include mainBGEllipses();
    position: absolute;
    z-index: -2;
    width: 399.01px;
    height: 400.31px;
    left: -31.33px;
    bottom: 489.69px;
    opacity: 0.5;
  }
}
